
<div id="small-dialog" class="mfp-hide book-form">

    <div class="login-form login-form-left">
        <div class="agile-row">
            <h3>Cari Giriş Formu</h3>
            <span class="fa fa-lock"></span>
            <div class="clear"></div>
            <div class="login-agileits-top">
                <form  method="post">
                    <input type="text" class="name" name="CariMail" Placeholder="Mail Adresi" required="" />
                    <input type="password" class="password" name="Sifre" Placeholder="Şifre" required="" />
                    <input type="submit" value="Giriş Yap">
                </form>
            </div>

        </div>
    </div>

</div>
