@model Mvc5OnlineTicariOtomasyon.Models.Siniflar.Cari

<div class="pop-up">
    <div id="small-dialog2" class="mfp-hide book-form">

        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Yeni Cari Kaydı</h3>
                <div class="login-agileits-top">
                    <form  method="post">
                        <input type="text" class="name" name="CariAd" Placeholder="Adınız" required="" />
                        <input type="text" class="name" name="CariSoyad" Placeholder="Soyadınız" required="" />
                        <input type="text" class="name" name="CariSehir" Placeholder="Şehir" required="" />
                        <input type="email" class="email" name="CariMail" Placeholder="Email" required="" />
                        <input type="password" class="password" name="Sifre" Placeholder="Şifre" required="" />
                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum.Kabul Ediyorum.<a href="#">Şartlar &amp; Talepler</a></label>
                        </div>
                        <input type="submit" value="Kayıt Ol">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
