@using Mvc5OnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

<br />
<table class="table table-bordered" style="margin-left:20px">

    <tr>
        <th>Kategori Adı</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KategoriAd</td>
            <td><a href="/Kategori/KategoriSil/@item.KategoriID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGuncelle/@item.KategoriID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }


</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new {sayfa}))
<a href="/Kategori/KategoriEkle" class="btn btn-primary"  style="margin-left:20px">Yeni Kategori Ekle</a>