@model Mvc5OnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<form method="post" action="KategoriEkle" class="form-group">

    <label>Kategori Adı</label>
    <br />
    <input type="text" class="form-control" name="KategoriAd" />
    <br />
    <button type="submit" class="btn btn-success" id="btn1">Kategori Ekle</button>
</form>


<script>
    $("#btn1").click(function () {

        alert("Kategori Başarılı Bir Şekilde Eklendi.")
    })



    </script>
