@using Mvc5OnlineTicariOtomasyon.Models.Siniflar
@model List<KargoTakip>
@{
    ViewBag.Title = "KargoDetay";
    Layout = "~/Views/Shared/_CariPanel.cshtml";
}


<br />
<table class="table table-striped" style="margin-left:20px">

    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Aciklama</td>
            <td>@item.TarihZaman</td>

        </tr>
    }


</table>
<a href="/Cari/CariEkle" class="btn btn-primary" style="margin-left:20px">Yeni Cari Ekle</a>





